{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
	progress {
		width : 500px;
	}
	.focus {
		background: #ccccff;
	}
</style>
<script src="templates/main.js"></script>
{% endblock %}
{% block content %}
<div id="content">
	<h2>{{ path.name }}</h2>
	<img src="{{ path.as_posix() }}" alt="this is a image" height=400/>
	<div id="forms">
		<form method="POST" action="./">
			<p>
			台詞 : <input type="text" name="script" size=100 id="textbox" autofocus {% if prev_data %} value="{{ prev_data.script }}" {% endif %}/>
			</p>
			<p>
			<label><input type="checkbox" name="reedit" value="True" {% if prev_data.reedit %}checked="checked"{% endif %}/>要修正</label>
			<label><input type="checkbox" name="useless" value="True" {% if prev_data.useless %}checked="checked"{% endif %}/>いらない</label>
			<label><input type="submit" value="submit"/></label>
			<input type="hidden" name="path" value="{{ path.as_posix() }}"/>
			<label><input type="submit" name="action" value="prev"/></label>
			</p>
		</form>
	</div>
</div>
<div id="notice">
	<h2>進捗</h2>
	<label ><progress value="{{ progress }}" max="100"><span>{{ progress }}</span>%</progress> ({{ progress }}%)</label >
</div>
{% endblock %}

