<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Yuyushiki Annotation Tool</title>

<style type="text/css">
	body {
		width : 85%;
		margin : 25px auto;
		font-family : 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
		color : #111;
	}
	progress {
		width : 500px;
	}
	.focus {
		background: #ccccff;
	}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="templates/main.js"></script>
</head>
<body>
<h1>Yuyushiki Annotation Tool</h1>
<hr>

<div id="content">
	<h2>{{ path.name }}</h2>
	<img src="{{ path.as_posix() }}" alt="this is a image" height=400/>
	<div id="forms">
		<form method="POST" action="./">
			<p>
				台詞 : <input type="text" name="script" size=100 id="textbox"/>
			</p>
			<p>
			<label><input type="checkbox" name="reedit" value="True"/>要修正</label>
			<label><input type="checkbox" name="useless" value="True"/>いらない</label>
			<label><input type="submit" value="submit"/></label>
				<input type="hidden" name="path" value="{{ path.as_posix() }}"/>
			</p>
		</form>
	</div>
</div>
<div id="notice">
	<h2>進捗</h2>
	<label ><progress value="{{ progress }}" max="100"><span>{{ progress }}</span>%</progress> ({{ progress }}%)</label >
</div>  

</body></html>
