<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Yuyushiki Annotation Tool</title>

<style type="text/css">
	body {
		width : 85%;
		margin : 25px auto;
		font-family : 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
		color : #111;
	}
</style>
</head>
<body>
<h1>Yuyushiki Annotation Tool</h1>
<hr>
<div id="notice">
	<h2>アノテーションルール</h2>
	<ul>
		<li>hoge</li>
	</ul>
</div>
<div id="content">
	<h2>{{ path.name }}</h2>
	<a href="{{ path.as_posix() }}">
		<img src="{{ path.as_posix() }}" alt="this is a image" height=400/>
	</a>
	<div id="forms">
		<form method="POST" action="./">
			<p>
				台詞 : <input type="text" name="script" size=100/>
			</p>
			<p>
			    <input type="checkbox" name="reedit" value="True"/>要修正
				<input type="checkbox" name="useless" value="True"/>いらない
				<input type="submit" value="submit"/>
				<input type="hidden" name="path" value="{{ path.as_posix() }}"/>
			</p>
		</form>
	</div>
</div>

</body></html>
