<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Yuyushiki Annotation Tool</title>

<style type="text/css">
	body {
		width : 85%;
		margin : 25px auto;
		font-family : 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
		color : #111;
	}
</style>
</head>
<body>
<h1>ゆゆ式</h1>
<hr>
<div id="notice">
	<h2>アノテーションルール</h2>
	<ul>
		<li>hoge</li>
	</ul>
</div>
<div id="users">
	{{ path.name }}
	<a href="{{ path.as_posix() }}">
		<img src="{{ path.as_posix() }}" alt="this is a image" width=400/>
	</a>
</div>

</body></html>
